<div>
    <!--Add/Filter Buttons-->
    <button (click)="add($event)">Add</button>
    <span class='blue'>
        Filter
        <input [(ngModel)]='filterText'>
    </span>
        
    <!--List Of Products:-->
    <ul>
        <li *ngFor="let product of products | async | productFilter :filterText" (click)="select(product)">
            <img [src]="'app/img/' + product.imgUrl">
            <span>
                {{ product.name }} <br>
                Description: {{ product.description }}
                <button>delete</button>
            </span>
        </li>
    </ul>
</div>

<div *ngIf="selectedProduct"> 
    <!--The Selected Product: -->
    <my-product [product]="selectedProduct"> </my-product>
    <button (click)="clearSelection()">Clear Selection</button>
</div>




<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>


